<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <select formControlName="method" (change)="onchangeMethod($event)">
    <option value="post">POST</option>
    <option value="get">GET</option>
    <option value="put">PUT</option>
    <option value="delete">DELETE</option>
  </select>
  <app-input-text
    [label]="label"
    [formControlInput]="form.controls.shortUrl"
  ></app-input-text>
  @if (isUpdate()) {
  <app-input-text
    [label]="'new URL'"
    [formControlInput]="form.controls.newUrl"
  ></app-input-text>

  }
  <button type="submit">Submit</button>
</form>
